#content {
    > button#eventReset,
    > button#addRegexpPart {
        @include button
    }
}

#console {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

// Doif-Tools
textarea#console {
    white-space: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 5px $primary-color solid;
    font-size: 100%;
}

#console, .fhemlog {
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    background: none;
    border: none;
}